*.pdf
*.docx
PDF/*
*data/
*.pkl
__pycache__
M11107309/
*.zip
.vscode/

# HW2
HW2/part1/checkpoint/*
HW2/part2/checkpoint/*
HW2/part2/experiment/*
HW2/part2/output/*

# Final
Final/ITRI_dataset/*
Final/ITRI_DLC/*
Final/solution/*
Final/outputs/*
